/* Reset default browser styles */
body, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.timer {
    background-color: #444;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 3rem;
}

button {
    background-color: #007acc;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005faa;
}

button:active {
    transform: scale(0.95);
}

