body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.timer {
    margin: 50px auto;
}

h1 {
    font-size: 36px;
}

button {
    font-size: 18px;
    margin: 5px;
    padding: 10px 20px;
}
